.loadingBarContainer {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.loadingBarTrack {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.loadingBarFill {
    height: 100%;
    background-color: orange;
    transition: width 0.05s linear; 
}

.loadingBarText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}